@use "_mixin";
@use "_variable" as g;

// レイアウト
.ly_kv{
    padding: 100px 0 40px;
}
@include mixin.breakpoint("pc"){
    .ly_kv{
        padding: 131px 0 56px;
    }
}


// ブロックモジュール
// キービジュアル
.bl_kv_inner{
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}
.bl_kv{
    background: g.$bg-primary-light url(../img/sp_kv_bgImg.svg);
}
@include mixin.breakpoint("pc"){
    .bl_kv_inner{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
// コピー部分
.bl_kv_body{
    margin: 0 auto;
    max-width: 550px;
}
.bl_kv_subCopy{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: g.$font-color-primary;
    line-height: 175%;
}
.bl_kv_mainCopy{
    font-size: 30px;
    font-weight: 800;
    margin-top: 8px;
    text-align: center;
    color: g.$font-color-black;
    line-height: 140%;
}
.bl_kv_function_list{
    text-align: center;
    margin-top: 24px;

    .bl_kv_function_listItem{
        display: inline-block;
        padding: 4px 8px;
        border-radius: 4px;
        background: g.$bg-primary;
        color: g.$font-color-white;
        margin: 6px 3px 0 3px;
    }
    .bl_kv_function_listItem:last-child{
        margin-left: 0;
    }
}
@include mixin.breakpoint("pc"){
    .bl_kv_subCopy{
        text-align: left;
    }
    .bl_kv_mainCopy{
        text-align: left;
        font-size: 38px;
    }
    .bl_kv_function_list{
        margin-top: 32px;
        display: flex;
        gap: 6px;
        flex-wrap: wrap;
    }
}
// 登録フォーム
.bl_kv_formGroup{
    margin-top: 32px;
}
.bl_kv_form_microCopy_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .bl_kv_form_microCopy{
        color: g.$font-color-primary;
        font-size: 20px;
        font-weight: 600;
    }
    .bl_kv_form_microCopy_line{
        display: block;
        width: 2px;
        height: 20px;
        background: g.$border-primary;
    }
    .bl_kv_form_microCopy_line_left{
        transform: rotate(-15deg);
    }
    .bl_kv_form_microCopy_line_right{
        transform: rotate(15deg);
    }
}
.bl_kv_form{
    width: 100%;
    background: g.$bg-white;
    border-radius: 16px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 12px;
    max-width: 400px;

    .bl_kv_form_inputGroup{
        display: block;

        // テキスト入力
        input[type="email"],
        input[type="password"]{
            margin-top: 5px;
            border-radius: 8px;
            width: 100%;
            border: 1px solid g.$border-lightGrey;
            padding: 10px 8px;
        }
        // チェックボックス
        input[type="checkbox"]{
            width: 20px;
            height: 20px;
            border: 1px solid g.$border-lightGrey;
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            vertical-align: middle;
        }
        input[type="checkbox"]:checked::before{
            content: "";
            width: 20px;
            height: 20px;
            background: g.$bg-primary;
            position: absolute;
            top: 0;
            left: 0;
        }
        input[type="checkbox"]:checked::after{
            content: "";
            width: 10px;
            height: 5px;
            border-left: 2px solid g.$border-white;
            border-bottom: 2px solid g.$border-white;
            transform: translate(-50%,-50%) rotate(-45deg);
            position: absolute;
            top: 45%;
            left: 50%;
        }
    }
    .bl_kv_form_inputGroup + .bl_kv_form_inputGroup{
        margin-top: 16px;
    }
    .bl_kv_form_inputGroup:nth-child(1),
    .bl_kv_form_inputGroup:nth-child(2){
        font-weight: 600;
    }
    .bl_kv_form_inputGroup_checkBox{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        a{
            color: g.$font-color-blue;
        }
    }
    .bl_kv_form_btnWrapper{
        margin-top: 16px;
        text-align: center;

        .bl_kv_form_submit{
            display: inline-block;
            border-radius: 24.5px;
            width: 100%;
            padding: 16px 0;
            background: g.$bg-black;
            border: 1px solid g.$border-black;
            color: g.$font-color-white;
            font-weight: 600;
            transition: all 0.3s;
        }
        .bl_kv_form_submit:hover{
            background: g.$bg-white;
            color: g.$font-color-black;
        }
    }
}
@include mixin.breakpoint("pc"){
    .bl_kv_body{
        margin: 0;
    }
    .bl_kv_formGroup{
        margin: 0;
    }
}


// 動画でわかるCWstudio
.bl_movieWrapper{
    margin: 0 auto;
    margin-top: 32px;
    min-height: 180px;
    max-width: 700px;

    iframe{
        width: 100%;
    }
}

// 9つの特徴・機能
.bl_feature{
    margin-top: 32px;
    max-width: 1080px;
}
.bl_feature_item{
    padding: 40px 0;
    border-top: 1px solid g.$border-lightGrey;
}
.bl_feature_item_function{
    border-bottom: 1px solid g.$border-lightGrey;
}
.bl_feature_item_imgWrapper{
    max-width: 600px;
    img{
        width: 100%;
        height: auto;
        box-shadow: 0 7px 25px g.$shadow-color;
    }
}
.bl_feature_item_txtGroup{
    margin-top: 24px;
    max-width: 360px;
}
.bl_feature_item_subTtl{
    font-size: 12px;
    font-weight: 600;
    color: g.$font-color-primary;
}
.bl_feature_item_ttl{
    font-size: 20px;
    line-height: 175%;
    margin-top: 6px;
    color: g.$font-color-primary;
    font-weight: 700;
}
.bl_feature_item_txt{
    margin-top: 8px;
    line-height: 175%;
}
.bl_feature_item_functionList{
    margin-top: 16px;

    .bl_feature_item_functionList_item{
        display: flex;
        align-items: center;
        gap: 16px;
        line-height: 175%;
    }
    .bl_feature_item_functionList_item + .bl_feature_item_functionList_item{
        margin-top: 16px;
    }
}
@include mixin.breakpoint("pc"){
    .bl_feature_item{
        display: flex;
        gap: 30px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .bl_feature_item_ttl{
        font-size: 32px;
        margin-top: 8px;
    }
    .bl_feature_item_txt{
        margin-top: 16px;
    }
    .bl_feature_item_function{
        display:block;
    }
    .bl_feature_item_functionList{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .bl_feature_item_functionList_item{
            max-width: 240px;
        }

        .bl_feature_item_functionList_item + .bl_feature_item_functionList_item{
            margin-top:0;
        }
    }
}


//CTA
.bl_cta_ttl{
    font-size: 24px;
    line-height: 175%;
    font-weight: 700;
    text-align: center;
    color: g.$font-color-white;
}
.bl_cta_txt{
    margin-top: 8px;
    font-size: 16px;
    line-height: 175%;
    font-weight: 600;
    text-align: center;
    color: g.$font-color-white;
}
.bl_cta_btn{
    display: inline-block;
    width: 300px;
    background: g.$bg-accent;
    border: 1px solid g.$border-accent;
    padding: 25px 0;
    font-size: 18px;
    font-weight: 700;
    color: g.$font-color-black;
    border-radius: 36px;
    transition: all 0.3s;
}
.bl_cta_btn:hover{
    background: g.$bg-black;
    color: g.$font-color-white;
}


// プラン・料金
// カードデザイン
.bl_plan_cardGroup{
    margin-top: 32px;
}
.bl_plan_card{
    padding: 24px 56px;
    border-radius: 24px;
    letter-spacing: 0;
}
// カードタイトル
.bl_plan_card_ttlWrapper{
    padding: 10.5px 0;
    text-align: center;
    border-radius: 24px;
}
.bl_plan_card_ttl{
    font-size: 20px;
    font-weight: 600;
}
// カードテキスト
.bl_plan_card_txtGroup{
    margin-top: 24px;
    text-align: center;
    font-weight: 700;
}
.bl_plan_card_txt{
    font-size: 18px;
}
.bl_plan_card_price{
    margin-top: 12px;
    font-size: 30px;
}
// 主な機能
.bl_plan_card_feature_ttlWrapper{
    text-align: center;
}
.bl_plan_card_feature_ttl{
    display: inline-block;
    margin-top: 24px;
    font-weight: 600;
    border-bottom: 2px solid g.$border-grey;
    padding-bottom: 8px;
    text-align: center;
}
// 機能リスト
.bl_plan_card_featureList{
    max-width: 230px;
    margin: 0 auto;
    margin-top: 12px;

    .bl_plan_card_featureList_item::before{
        content: "";
        display: inline-block;
        width: 10px;
        height: 6px;
        border-bottom: 2px solid g.$border-lightGrey;
        border-left: 2px solid g.$border-lightGrey;
        transform: rotate(-45deg);
        vertical-align: middle;
        margin-right: 9px;
    }
    .bl_plan_card_featureList_item + .bl_plan_card_featureList_item{
        margin-top: 12px;
    }
}

// フリープラン
.bl_plan_card__free{
    border: 3px solid g.$border-lightGrey;
}
.bl_plan_card_ttlWrapper{
    border: 2px solid g.$border-lightGrey;
}

// 有料プラン
.bl_plan_card__paid{
    margin-top: 32px;
    border: 3px solid g.$border-primary;
    background: g.$bg-primary-extra-light;
}
.bl_plan_card_ttlWrapper__paid{
    border: 2px solid g.$border-primary;
    background: g.$bg-white;
}
.bl_plan_card_ttl__paid{
    color: g.$font-color-primary;
}
.bl_plan_card_txt__paid{
    color: g.$font-color-primary;
}
.bl_plan_card_price__paid{
    color: g.$font-color-primary;
}
.bl_plan_card_feature_ttl__paid{
    color: g.$font-color-primary;
    border-bottom: 2px solid g.$border-primary;
}
.bl_plan_card_featureList__paid{
    color: g.$font-color-primary;

    .bl_plan_card_featureList_item::before{
        border-bottom: 2px solid g.$border-primary;
        border-left: 2px solid g.$border-primary;
    }
}
@include mixin.breakpoint("tab"){
    .bl_plan_cardGroup{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .bl_plan_card{
        align-content: stretch;
    }
    .bl_plan_card__paid{
        margin-top: 0;
    }
}


// よくある質問
.bl_faqGroup{
    max-width: 768px;
    margin: 0 auto;
    margin-top: 32px;
}
.bl_faq{
    padding: 24px 0;
    border-top: 1px solid g.$border-lightGrey;
    line-height: 175%;
}
// 質問
.bl_faq_question{
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
}
.bl_faq_question::before{
    display: block;
    content: "Q";
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: g.$bg-primary;
    color: g.$font-color-white;
    border-radius: 50%;
    flex-shrink: 0;
}
// 答え
.bl_faq_answerWrapper{
    margin-top: 8px;
    display: flex;
    gap: 8px;

    a{
        color: g.$font-color-blue;
        text-decoration: underline;
    }
}
.bl_faq_answerWrapper::before{
    display: block;
    content: "A";
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: g.$bg-white;
    color: g.$font-color-primary;
    border: 1px solid g.$border-primary;
    border-radius: 50%;
    flex-shrink: 0;
}
