$bg-base: #fafafa;
$bg-primary: #c7a26c;
$bg-primary-light: rgba(199, 162, 108, 0.35);
$bg-primary-extra-light: rgba(199, 162, 108, 0.05);
$bg-secondary: #52442f;
$bg-black: #333;
$bg-accent: #ff9800;
$bg-white: #fff;
$bg-blue: #4895e6;
$border-grey: #8d857e;
$border-white: #fff;
$border-lightGrey: #ddd;
$border-primary: #c7a26c;
$border-black: #333;
$border-accent: #ff9800;
$shadow-color: rgba(106,106,106,0.2);
$font-color-base: #8d857e;
$font-color-white: #fff;
$font-color-primary: #c7a26c;
$font-color-blue: #4895e6;
$font-color-black: #333;
$font-family-jp: "Noto Sans JP";